* {
    margin: 0;
    padding: 0
  }
  
.back {
    width: 1000px;
    overflow: hidden;
    background-image: url(./img_8365_0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
  
.p {
    color: white;
    font-size: 100px;
    mix-blend-mode:difference;
  }
  
  